.colorBox{
    width: 150px;
    height: 200px;
    border: 2px solid black;
    
}

.colors{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    
}
#blue{
    background-color: blue;
     width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#red{
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#green{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#texts{
    width: 150px;
    height: 200px;
}
#simpleCounter{
    display: flex;
    gap: 10px;

}
