.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li { 
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.todo-list li:hover {
    background-color: #e0e0e0;
}

.todo-list li:active {
    background-color: #d0d0d0;
}   

.counter {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}               

.counter:hover {
    background-color: #e0e0e0;
}

.counter:active {
    background-color: #d0d0d0;
}

.counter:focus {
    background-color: #c0c0c0;
}   
    