.box{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.color{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
}
.colors{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}

textarea{
    width: 200px;
    height: 50px;
    border: 1px solid black;
}