.box {
    width: 200px;
    height: 200px;
    background: white;
    border: 1px solid black;
}

.circle {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
}

#redCircle {
    background: red;
}

#greenCircle {
    background: green;
}

#blueCircle {
    background: blue;
}

#textBox {
    width: 200px;
    height: 100px;
}

#todoList {
    width: 200px;
    height: 50px;
}